
.liquidFillGaugeText {
    font-weight: bold;
}

.col-dam {
    margin-bottom: 40px;
}

.percentage {
    font-size: 14px;
}

.small-text {
    font-size: 14px;
}

html, body {
    height: 100%;
}

body {
    border: 1px solid transparent;
}

.pad-content {
    padding-top: 60px;
    padding-bottom: 250px;
}

.content {
    min-height: 100%;
    position: relative;
    margin-bottom: -80px;
    padding-bottom: 100px;
}

.container-main {
    display: none;
}

.loading-inside {
    padding-top: 50px;
}

.footer {
    text-align: center;
    width: 100%;
    display: block;
    height: 80px;
    background-color: #949494;
    position: relative;
    margin: 0 auto;
}

.footer-top {
    background-color: white;
}

.footer-bottom {
    color: #e2e2e2;
}

.footer-bottom > p {
    margin-bottom: 0;
}

a {
    color: #e2e2e2;
    text-decoration: underline;
}

a:focus, a:hover {
    color: #337ab7;
    text-decoration: underline;
}